---
import '../styles/button.css'

interface Props {
    text?: string;
    id?: string;
    icon?: string;
}

const { text = 'Button', id = 'button', icon='' } = Astro.props;
---

<button id={id}>
    {icon && <span class="material-icons">{icon}</span>}
    {text}
</button>