.background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  background-color: #0a0a0a;
}

.grid-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 24px 24px;
}

.content-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
}

h1 {
  font-size: 4rem;
  color: #ffffff;
  text-align: center;
}
