---
import './styles/home.css'
import Header from '../shared/components/Header.astro'
import AsideSemesters from '../modules/semesters/components/AsideSemesters.astro'
import Semester from '../modules/semesters/components/Semester.astro'
---
<!-- This is the Home component -->
  
<div class="background">
  <Header></Header>
  <div class="home-container">
    <AsideSemesters></AsideSemesters>
    <Semester></Semester>
  </div>
    
</div> 

