---
import '../styles/home.css'
---
<!-- This is the Home component -->
  
<div class="background">
    <div class="grid-overlay">
      <div class="content-home">
          <h1>Modulo 9 Preview</h1>
      </div>

    </div>
</div>

